.col-4
= simple_form_for(@article) do |form|
  = form.input :title
  = form.input :body
  = form.input :image_data, as: :file, :input_html => { :multiple => true }, accept: 'image/png,image/gif,image/jpeg, image/jpg', name: 'article[images][][:image_data]'
  = form.button :submit
