%nav.navbar.navbar-expand-lg.navbar-dark.bg-success
  %a.navbar-brand{:href => root_path}
    %img.d-inline-block.align-top{:alt => "", :height => "30", :src => "logo.png", :width => "30"}/
    Bezpieczna Przystań
  %ul.nav.navbar-nav
    %li.nav-item
      = link_to "Blog", articles_path, class: 'nav-link'
    %li.nav-item
      = link_to "Nasi podopieczni", animals_path, class: 'nav-link'
    %li.nav-item
      = link_to "Kontakt", new_message_path, class: 'nav-link'
  



%p.notice= notice
%p.alert= alert
