%h1 Formularz adopcyjny
%h2= @animal.name
.col-2
  %img.img-thumbnail{alt: @animal.name, src: @animal.main_image}
%p
%p W celu ułatwienia procesu związanego z adopcją, prosimy o wypełnienie poniższego formularza.

= simple_form_for @adoption, url: animal_send_adoption_form_path do |f|
  = f.input :name, label: 'Imię i nazwisko:'
  = f.input :email
  = f.input :phone_number, label: 'Nr telefonu'
  = f.input :where_keep, label: 'Gdzie pies będzie głównie przebywał?'
  = f.input :free_time, label: 'W jaki sposób spędzasz czas wolny?'
  = f.input :children_age, label: 'Czy masz dzieci, a jeżeli tak to w jakim wieku?'
  = f.input :other_animals, label: 'Czy posiadasz aktualnie jakieś zwierzęta, a jeżeli tak to jakie?'
  = f.input :had_dog, label: 'Czy miałes już wcześniej psa?'
  = f.input :hours_alone, label: 'Ile godzin w ciągu dnia pies pozostawałby sam?'
  = f.input :comments, label: 'Dodatkowe informacje, pytania, uwagi:'

  = f.button :submit, 'Wyślij', class: 'btn btn-success btn-md'
