.col-4
  = simple_form_for(@animal, as: :animal, url: @url) do |form|
    = form.input :type
    = form.input :name
    = form.input :image_data, as: :file, :input_html => { :multiple => true }, accept: 'image/png,image/gif,image/jpeg, image/jpg', name: 'animal[images][][:image_data]'
    = form.input :breed
    = form.input :gender
    = form.input :size
    = form.input :purpose
    = form.input :age
    = form.input :for_kids
    = form.input :come_date
    = form.input :sterilization_date
    = form.input :vaccination_date
    = form.input :general_info
    = form.button :submit
