%h1 Animals#index
%p
.card-deck
  - @animals.each do |animal|
    .col-3
      .card
        = link_to animal_path(animal) do
          %img.card-img-top{:alt => "#{animal.name}", :src => "https://www.sunnyskyz.com/uploads/2017/11/b56qu-dog-figures-out-how-to-get-owners-to-stay-home-and-play-with-him-3.jpg"}/
          .card-body
            %h5.card-title="#{animal.name}"
.row
  = link_to "Dodaj psa", new_dog_path, type: 'button', class: 'btn btn-success btn-lg'
  = link_to "Dodaj kota", new_cat_path, type: 'button', class: 'btn btn-success btn-lg'
