%h1 Animals#show
.row
  .col-12
    %h1 #{@animal.name}
  .col-4
    %img.img-thumbnail{alt: @animal.name, src: @animal.main_image, id:"animal_image_main"}
  .col-8
    %p Rasa: #{@animal.breed}
    %p Płeć: #{@animal.gender}
    %p Wielkość: #{@animal.size}
    %p Przeznaczenie: #{@animal.purpose}
    %p Wiek: #{@animal.age}
    %p Płeć: #{@animal.gender}
    %p Przyjazny dzieciom: #{@animal.for_kids}
    %p W Bezpiecznej Przystani od: #{@animal.come_date}
    %p Data sterylizacji: #{@animal.sterilization_date}
    %p Data ostatniego szczepienia: #{@animal.vaccination_date}
    %p Szczegóły: #{@animal.general_info}
    = social_share_button_tag("#{@animal.name} szuka ciepłego domu!", :allow_sites => %w(twitter))
    = social_share_button_tag(@animal.name, :allow_sites => %w(facebook), :url => animal_url(@animal), desc: "#{@animal.name} szuka ciepłego domu!")
    %p
      = link_to 'PSYgarnij mnie :)', animal_adoption_path(@animal), method: :get, class: 'btn btn-success btn-lg'

%p
%p
  %strong Więcej zdjęć:
  .col-4
    - @animal.images.each do |image|
      %img.img-thumbnail{alt: "bezpieczna przystań", src: image.image_url, id:"#animal_image_#{image.id}"}
      = link_to 'Ustaw jako główne zdjęcie', update_photo_animal_path(@animal, photo: image.image_url), method: :put, class: 'btn btn-secondary btn-lg'
