%h2
  = @greeting
%table{border: 1}
  %tbody
    %tr
      %th Pytanie:
      %th Odpowiedź:
    %tr
      %td= "Imię i nazwisko"
      %td= @name
    %tr
      %td= "Adres email"
      %td= @email
    %tr
      %td= "Nr telefonu"
      %td= @phone_number
    %tr
      %td= "Wielkość psa"
      %td= @dog_size
    %tr
      %td= "Płeć psa"
      %td= @gender
    %tr
      %td= "Gdzie pies będzie przebywał"
      %td= @where_keep
    %tr
      %td= "Jak spędza wolny czas"
      %td= @free_time
    %tr
      %td= "Wiek dzieci"
      %td= @children_age
    %tr
      %td= "Posiadane zwierzęta"
      %td= @other_animals
    %tr
      %td= "Czy miał już psa"
      %td= @had_dog
    %tr
      %td= "Ile godzin w ciągu dnia pies przebywałby sam"
      %td= @hours_alone
    %tr
      %td= "Uwagi, pytania, komentarze"
      %td= @comments
